services:
  mail-server:
    build: .
    ports:
      - "4058:4058"  # Port HTTP interne
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mail.rule=Host(`mail.creachtheo.fr`)"
      - "traefik.http.routers.mail.entrypoints=websecure"
      - "traefik.http.routers.mail.tls.certresolver=myresolver"
      - "traefik.http.services.mail.loadbalancer.server.port=4058"
    networks:
      - traefik-public
networks:
  traefik-public:
    external: true
